body{
  background-color: rgb(5, 5, 78);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.password-container{
  background-color: rgb(63, 59, 59);
  padding: 10px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.password-box{
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 20px;
 
  
}

.password{
  padding: 1.2rem 2rem;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;

}


button{
  padding: 0 1rem;
  border-radius: 5px;
  border: none;
  position: relative;
  right: 10px;
  background-color: aquamarine;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}


.effects{
  display: flex;
  align-items: center;
  gap: 5px;
}


.effects > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}